@import url(https://fonts.googleapis.com/css?family=Righteous:100,200,300,400,500,600,700,800,900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Macondo:100,200,300,400,500,600,700,800,900&display=swap);
:root {
  --primary: #4bac48;
  --secondary: #004d2a;
}

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  -webkit-appearance: none !important;
  scroll-behavior: smooth !important;
  /* border: 1px solid red !important; */
}
html,
body {
  font-weight: 500;
  height: 100%;
  font-family: "Poppins", "Righteous", Arial, Helvetica, sans-serif !important;
}
nav ::-webkit-scrollbar {
  display: none;
}
h5 {
  color: black !important;
}
h6 {
  color: var(--primary);
}
a {
  color: var(--primary);
}
.caption {
  color: black !important;
  font-weight: 800;
  font-size: inherit;
  margin-top: 2em;
}
.nav-hide {
  animation: 600ms FadeOutUp ease-out forwards;
  display: block;
}
.poppins {
  font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}
.sponsored {
  /* background: var(--primary) !important; */
  color: white !important;
}
.sponsored h1 {
  color: white !important;
}
.article-container {
  gap: 0.5rem;
}
.article-body {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  font-family: "Poppins", Arial, Helvetica, sans-serif, "Segoe UI", Tahoma !important;
  padding-inline: 0.7rem;
  padding-bottom: 0.6rem;
  cursor: pointer;
}
.article-desc {
  font-size: 11px;
  font-weight: 500;
  font-family: "Poppins", "Segoe UI", Tahoma !important;
}

/* .article-poppins {
  font-family: "Poppins", Arial, Helvetica, sans-serif, "Segoe UI", Tahoma !important;
} */
.article-author {
  width: max-content;
  color: black;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding: 0.3rem 0.4rem 0.3rem 0.4rem;
  border-radius: 2rem;
  margin-top: auto !important;
  margin-bottom: 0.5rem;
  margin-inline: 0.4rem;
}
.article-author-data {
  display: flex;
  flex-direction: column;
}
.article-author-data p {
  font-size: 11px;
  color: var(--primary);
  font-family: "Poppins", Arial, Helvetica, sans-serif !important;
  font-weight: 600;
}
.article-date {
  font-size: 9px;
  font-family: "Poppins", Arial, Helvetica, sans-serif !important;
  color: rgb(90, 90, 90);
}
.sponsored .article-date {
  color: white;
}
.sponsored .article-author-data p {
  font-size: 13px;
  color: white;
}
.article-preview {
  color: rgba(0, 0, 0);
  max-width: 100%;
  font-weight: 400;
  font-family: "Poppins", "Segoe UI", Tahoma !important;
  line-height: 1.5;
  padding-inline: 0.5rem;
  overflow-x: hidden;
}
.article-preview h5 {
  /* font-size: 14px;
  font-weight: 600;
  font-family: "Poppins", Arial, Helvetica, sans-serif !important;
  color: black;
  margin-top: -1.2rem;
  padding-inline: 4px;
  font-weight: 500; */
}
.article-preview a {
  color: var(--primary);
  font-weight: 700;
}
.article-preview b {
  font-weight: 800;
}
.article-preview::first-letter {
  color: var(--primary);
  font-size: 6rem;
  font-weight: 900;
  float: left;
  line-height: 0.45;
  /* margin-right: 0.5rem; */
  margin: 0.1em 0.1em 0.2em 0;
}
.article-title {
  font-weight: 900 !important;
  transition: all 0.75s ease-in-out;
  color: var(--primary);
  line-height: 1 !important;
  /* font-family: "Righteous", "Poppins", Arial, Helvetica, sans-serif !important; */
}
.article-title:hover,
.article-title:focus {
  text-decoration: underline;
  text-underline-offset: 0.2em;
  text-decoration-color: #d5ffd3;
  text-decoration-thickness: 5px !important;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.article-title::before {
  /* content: ""; */
  /* position: absolute; */
  /* display: block;
  width: 100%;
  height: 4px; */
  /* bottom: 0;
  left: 0; */
  /* background-color: var(--primary);
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease; */
}
/* .article-title:hover::before {
  transform: scaleX(1);
} */

.tag {
  font-family: "Poppins", Arial, Helvetica, sans-serif !important;
  font-weight: 900 !important;
}
.tag:hover {
  transform: translateY(-0.2rem);
}
.nav-menu-link {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.nav-menu-link:hover {
  color: var(--primary);
}
.loader-button {
  animation: 300ms Loader linear infinite;
  width: 20px;
  margin-inline: auto;
  aspect-ratio: 1 / 1;
  background: transparent;
  border: 2px solid rgb(90, 90, 90, 0.2);
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-radius: 50%;
}
.loader-normal {
  animation: 300ms Loader linear infinite;
  width: 20px;
  margin-inline: auto;
  aspect-ratio: 1 / 1;
  background: transparent;
  border: 2px solid rgb(90, 90, 90, 0.15);
  border-top: 2px solid var(--primary);
  border-left: 2px solid var(--primary);
  border-radius: 50%;
}
.about a {
  text-decoration: underline;
  color: var(--primary);
}
::-webkit-scrollbar {
  width: 4px !important;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}
@keyframes Loader {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes FadeOutUp {
  0% {
    display: block;
  }
  100% {
    display: none;
    transform: scaleY(0);
  }
}
