@import url(https://fonts.googleapis.com/css?family=Righteous:100,200,300,400,500,600,700,800,900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Macondo:100,200,300,400,500,600,700,800,900&display=swap);

* {
  -webkit-font-smoothing: antialiased;
  font-family: "Righteous", "Poppins", Arial, Helvetica, sans-serif !important;
  box-sizing: border-box;
}
html,
body {
  font-weight: 500;
}
nav ::-webkit-scrollbar {
  display: none;
}
.nav-hide {
  animation: 600ms FadeOutUp ease-out forwards;
  display: block;
}
.poppins {
  font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}
.article-container:nth-child(even) {
  background: rgba(75, 172, 72);
  color: white;
}
.article-container:nth-child(5) {
  grid-column: span 2 / span 2;
}
.article-container:nth-child(11) {
  grid-column: span 2 / span 2;
}
.article-title {
  font-weight: 600 !important;
  transition: all 0.75s ease-in-out;
}
.article-title:hover,
.article-title:focus {
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}
.tag {
  font-family: "Poppins", Arial, Helvetica, sans-serif !important;
  font-weight: 700 !important;
}
@keyframes FadeOutUp {
  0% {
    display: block;
  }
  100% {
    display: none;
    transform: scaleY(0);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
